.display {
    color: #fff;
    display: block;
    width: 100%;
    height: 120px;
    font-size: 80px;
    overflow: hidden;
    overflow-y: auto;
    position: relative;
    text-align: right;
    word-wrap: break-word;
}
.display::-webkit-scrollbar {
    width: 2px;
    background-color: #111;
}
.display::-webkit-scrollbar-thumb {
    background-color: #ff9a0a;
}
.calculate {
    position: absolute;
    bottom: 0;
    right: 5px;
    font-size: 16px;
}